/* COLORS:
Dark background: #171719;
Blue background: #1a6a89;
Light blue: #33a8c1;
Orange: #ff7223;


*/

html
{
    background: none;
    background-color: var(--dark);
}

body
{
    background: none;
    overflow-y: scroll;
    display: flex;
    min-height: 100vh;
    width: auto;
    height: auto;
    flex-direction: column;
}

h1, h2
{
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-size: 1em;
}

p {
    font-size: .75em;
}

#container
{
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-img
{
    width: 100%;
    margin: 0;
}

.middle-text
{
    text-align: left;
    overflow: wrap;
    word-break: break-word;
    margin: 0;
}

#logo
{
    position: absolute;
    top: 4em;
    left: 3em;
    width: 10%;
    z-index: 10;
}


#container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.two-column
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.band-photo
{
    width: 100%;
    margin-bottom: 1em;
}

.column
{
    padding: 1em;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.photo-credit
{
    margin-bottom: 2em;
}

.video-container
{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1em;
}

.video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.download-bar
{
    display: block;
}

.footer
{
    background-color: #292727;
    color: inherit;
    text-align: left;
}

.footer-col
{
    line-height: 1.5em;
    display: block;    
    font-size: 0.8em;
    margin: 3em;
    margin-bottom: 0;
    margin-top: 1em;
}

h3
{
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

a:hover
{
    color: var(--accent);
    text-decoration: underline;
}

a, a:visited {
    color: var(--light);
    text-decoration: underline;
}

@media only screen and (min-width : 1024px) {
    .two-column
    {
        width: 80%;
    }
    .column
    {
    padding: 3em;
    }
}

@media only screen and (min-width : 540px) {

    .footer
    {
        flex-direction: row;
    }

    .footer-col
    {
        margin: 3em;
    }
}


@media only screen and (max-width : 1024px) {

    #logo
    {
        top: 2.5em;
        left: .5em;
    }
}



